@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    z-index: 999;
    position:absolute ;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 200px ;
    transition: 0.5s ease;


}


.logo {
    width: 100px; /* Adjust width for proper sizing */
    height: auto; /* Maintain aspect ratio */
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(31, 31, 36);
}


.form{
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    position:absolute ;
    width: 320px;
    text-align: center;
}

.form i{
    z-index: 1;
    color: white;
    font-size: 65px;
    margin-bottom: 30px;

}

.form .user-input{
    width: 320px;
    height: 55px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(56, 96, 206);
    font-size:15px ;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    transition:0.5s ;
    transition-property: border-left, border-right, box-shadow;
}

.form .user-input:hover, .form .user-input:focus, .form .user-input:active{
border-left: solid 8px #4C66E4;
border-right: solid 8px #4C66E4;
box-shadow: 0 0 100px rgba(76,102,228,0.8)

}


.form .options-01{
    margin-bottom: 50px;
}


.form .options-1 input{
    width:15px ;
    height: 15px;
    margin-right: 5px;
}

.form .options-1 .remember{
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    float: left;
    cursor: pointer;

}

.form .options-1 a{
    color: gray;
    font-size: 15px;
    font-style: italic;
    float: right;
}


.form .button{
    border: none;
    width: 320px;
    height: 55px;
    background: #4C66E4;
    color: white;
    font-size: 18px;
    border-radius:5px ;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: border-left, border-right, box-shadow;
}

.form .button:hover{
    border-left: solid 8px rgba(255, 255, 255, 0.5);
    border-right: solid 8px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 100px rgba(66, 133, 244, 0.5);
}


.form .options-2{
  color:white;
  font-size:14px;
  margin-top: 30px;

}


.form .options-2 a {
    color: #4C66E4;
}



/*Responsiveness*/
@media screen and (max-width: 500px){
    .form{
        width: 100%;
    }

    .form .user-input{
        width:100%
    }

    .form .button{
        width: 100%;
    }
}





